.header {
  color: #fff;
  min-height: 120px;
  background-color: var(--primary-color);

  .headerContent {
    min-height: 120px;

    h1 {
      font-family: "Pinyon Script", cursive;
      font-weight: 400;
      font-style: normal;
    }
  
    nav ul {
      display: flex;
      gap: 35px;
    }
  }
}